# Fundamental Analysis

### This code analyse the historical data and near-real time data to find general trends in equities. The types of analysis shown here are: 

### -Cumulative returns for long, medium and short term
### -Volatility analysis (Average True Range, standard deviation of closing price)
### -Financial performance analysis (Return on Capital + Sales Revenue)
### -Categorising equities by industry
### -Ranking of equities by profitability and stability (also comparing within industries)

# Extracting historial share price data from MongoDB

In [40]:
import pandas as pd
import pymongo
from re import sub
from decimal import Decimal
from pymongo import MongoClient
import numpy as np
import datetime
import matplotlib.pyplot as plt
import pylab
import scipy
from scipy import stats
from statsmodels.tsa.stattools import adfuller
from odo import odo
from decimal import Decimal
import operator

client = MongoClient('mongodb://igenie:igenie@ds019654.mlab.com:19654/dax')
#get dax database
db = client.dax
collection = db['historical']

# Deducing Profitability

## Cumulative Return analysis

### This section calculates the cumulative return of each equity, as if they were invested 6 months, 1 year and 5 years ago. It also returns rankings of top 5 with the best cumulative return and the worst cumulative return for these periods of investments

In [155]:
## Cumulative Return (6 months, 1 year, 5 years)
##Table 2 stores the annual mean price and the annual mean growth
def cumulative_returns_collection():
    collection = db['historical']
    n=0
    cumulative_table = pd.DataFrame()
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
#all_constituents = ['Allianz', 'adidas']
    for constituent in all_constituents:
        n=n+1
        his = collection.find({"constituent":constituent})
        his = pd.DataFrame(list(his))
        ##Compute the 21-days moving average of the closing price. 
        his_rm21 =his['closing_price'].rolling(window=21,center=False).mean()
        his_6months = his_rm21.iloc[-126:]
        his_1year = his_rm21.iloc[-252:]
        his_3years = his_rm21.iloc[-756:]
    ##Calculate the cumulative returns
        return_6months =  (float(his_6months.iloc[-1])/float(his_6months.iloc[0]))-1.0
        return_1year =  (float(his_1year.iloc[-1])/float(his_1year.iloc[0]))-1.0
        return_3years =  (float(his_3years.iloc[-1])/float(his_3years.iloc[0]))-1.0

    #append the values 
        cumulative_table = cumulative_table.append(pd.DataFrame({'Constituent': constituent, '6 months return': return_6months, '1 year return':return_1year,'3 years return': return_3years}, index=[0]), ignore_index=True)
    
    columnsTitles=['Constituent','6 months return','1 year return','3 years return']
    cumulative_table =cumulative_table .reindex(columns=columnsTitles)
    cumulative_table.to_csv('cumulative_table %s.csv'%datetime.date.today(), encoding = 'utf-8', index = False)
    
    #Sort the consituents into ranking for CR. 
    rank_6months = cumulative_table.sort_values('6 months return',axis=0,ascending=False)
    rank_1year = cumulative_table.sort_values('1 year return',axis=0, ascending=False)
    rank_3years = cumulative_table.sort_values('3 years return',axis=0, ascending=False)
    
    #The 5 best/worst performing stock in the last 6 months
    best6months = rank_6months[['Constituent','6 months return']].head(5)
    best6months = best6months.reset_index(drop=True)
    
    worst6months = rank_6months[['Constituent','6 months return']].iloc[-5:]
    worst6months = worst6months.iloc[::-1]
    worst6months = worst6months.reset_index(drop=True)
    
    #The 5 best/worst performing stock in the last 12 months
    best1year = rank_1year[['Constituent','1 year return']].head(5)
    best1year = best1year.reset_index(drop=True)
    
    worst1year = rank_1year[['Constituent','1 year return']].iloc[-5:]
    worst1year = worst1year.iloc[::-1]
    worst1year = worst1year.reset_index(drop=True)
    
    #The 5 best/worst performing stock in the last 5 years
    best3years = rank_3years[['Constituent','3 years return']].head(5)
    best3years = best3years.reset_index(drop=True)
    
    worst3years = rank_3years[['Constituent','3 years return']].iloc[-5:]
    worst3years = worst3years.iloc[::-1]
    worst3years = worst3years.reset_index(drop=True)

    return cumulative_table #,best6months,worst6months,best1year,worst1year,best5years,worst5years

In [168]:
cumulative_returns_table

,Constituent,6 months return,1 year return,3 years return
0,Allianz,0.114285,0.385212,0.400194
1,adidas,0.179574,0.358793,1.345359
2,BASF,-0.046876,0.216151,-0.016418
3,Bayer,0.171792,0.286562,0.138976
4,Beiersdorf,0.167188,0.135451,0.306269
5,BMW,-0.074197,0.188656,-0.111065
6,Commerzbank,0.354409,0.711676,-0.091407
7,Continental,0.037589,0.097179,0.150927
8,Daimler,-0.092897,0.157121,-0.052555
9,Deutsche Bank,-0.112614,0.226083,-0.398235
10,Deutsche Börse,0.242682,0.280986,0.708453
11,Deutsche Post,0.054681,0.312902,0.260634
12,Deutsche Telekom,-0.004081,0.085982,0.298266
13,EON,0.279711,-0.053167,-0.421737
14,Fresenius,0.046911,0.168142,-0.304692
15,HeidelbergCement,-0.007864,0.235326,0.393216
16,Infineon,0.162117,0.463331,1.097062
17,Linde,0.086122,0.357728,0.109139
18,Lufthansa,0.577254,0.768165,0.283286
19,Merck,0.060627,0.163532,0.284555
20,RWE,0.562275,0.283685,-0.412875
21,SAP,0.120825,0.346828,0.612309
22,Siemens,0.062083,0.337183,0.293247
23,thyssenkrupp,0.102308,0.367608,0.158560
24,Vonovia,0.137911,0.076457,0.594027
25,Fresenius Medical Care,0.079770,0.109459,0.740777
26,Münchener Rückversicherungs-Gesellschaft,0.001616,0.196710,0.103975
27,ProSiebenSat1 Media,-0.030282,-0.074852,0.109257
28,Volkswagen (VW) vz,-0.025901,0.188148,-0.283977

# Investigating the trend in stock price (quarterly)

### The average stock price for each quarter is calculated from 2010-01-01 (filtering the effect of recession in 2009). For each stock, a linear regression is fitted for the mean quarter prices for different three time durations.
1. from 2010-01-01
2. the last three years
3. the last 12 months

### The gradient of the linear regression model estimates the rate of change in average price per quarter (€ /quarter or 3 months). By analysing the gradients derived from the three time durations above, we can see how the rate of change vary over time. If the gradient increases from period 1 to period 3, then a trend of accelerated growth in stock price is indicated.

In [8]:
def quarter_mean_analysis(his):
    #Analyse the cumulative return of the stock price after the recession in 2009. Quarterly. 
    his_2010 = his[['closing_price','date']].loc[his['date']>=datetime.datetime(2010,01,01)]
    ##Calulate the mean stock price for every quarter
    n=his_2010.shape[0]
    num_quarters = int(n/63.0)
    quarter_mean = np.zeros(num_quarters)
    
    for i in range(num_quarters): 
        if i<=num_quarters-1:
            quarter_mean[i]=float(his_2010['closing_price'].iloc[63*i:63*(i+1)].mean())
        else: 
            quarter_mean[i]=float(his_2010['closing_price'].iloc[63*i:].mean())
            
    z = np.polyfit(range(num_quarters),quarter_mean,1)
    z_3yrs =np.polyfit(range(12), quarter_mean[-12:],1)
    z_1yr = np.polyfit(range(4), quarter_mean[-4:],1)
    return z[0],z[1],z_3yrs[0],z_3yrs[1],z_1yr[0],z_1yr[1],quarter_mean

In [9]:
def quarter_mean_collection(): 
    n=0
    collection1 = db['historical']
    quarter_mean_table = pd.DataFrame()
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
    #all_constituents = ['Allianz']
    for constituent in all_constituents:
        his=collection1.find({"constituent":constituent})
        his = pd.DataFrame(list(his))
        #assume linear model: y=ax+b
        a,b,a_3yrs,b_3yrs,a_1yr,b_1yr,quarter_mean=quarter_mean_analysis(his)
        #print a
        quarter_mean_table = quarter_mean_table.append(pd.DataFrame({'Constituent': constituent, 'Current Quarter mean price':round(quarter_mean[-1],2),'Rate of change in price from 2010/quarter': round(a,2), 'Rate of change in price in the last 3 years/quarter':round(a_3yrs,2),'Rate of change in price in the last 365 days/quarter': round(a_1yr,2)}, index=[0]), ignore_index=True)
    columnsTitles = ['Constituent','Current Quarter mean price','Rate of change in price from 2010/quarter', 'Rate of change in price in the last 3 years/quarter','Rate of change in price in the last 365 days/quarter']
    quarter_mean_table =quarter_mean_table.reindex(columns=columnsTitles)
    #quarter_mean_table.to_csv('quarter_mean_table.csv', encoding = 'utf-8', index = False)
    return quarter_mean_table

# Deducing Volatility

## Standard Deviation of closing price

In [10]:
##Calculate standard deviation and Bollinger Bands, then plot. 
def Bollinger(his):
    standard_dev = his['closing_price'].rolling(window=21,center=False).std()
    upper = his['closing_price'].rolling(window=21,center=False).mean() + standard_dev*2.0
    lower = his['closing_price'].rolling(window=21,center=False).mean() - standard_dev*2.0
    ##Sport extreme values,record the number of times they happen.
    above = (his['closing_price']>=upper)
    below = (his['closing_price']<=lower)
    above_dates = his.loc[above, 'date']
    below_dates = his.loc[below,'date']
    n_above = above_dates.shape[0]
    n_below = below_dates.shape[0]
    return n_above,n_below,standard_dev

In [11]:
## Calculate the mean Standard Deviation quarterly in the last 18 months
def standard_dev_collection():
    n=0
    standard_dev_table = pd.DataFrame()
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
    #all_constituents = ['Allianz', 'adidas']
    for constituent in all_constituents:
        n=n+1
        his = collection.find({"constituent":constituent})
        his = pd.DataFrame(list(his))
        above,below,standard_dev=Bollinger(his)
        std_3 = standard_dev[-63:].mean()
        #std_3_to_6 = standard_dev[-126:-63].mean()
        #std_6_to_9 = standard_dev[-189:-126].mean()
        #std_9_to_12 = standard_dev[-252:-189].mean()
        #std_12_to_15 = standard_dev[-315:-252].mean()
        #std_15_to_18 = standard_dev[-378:-315].mean()
        std_3yrs = standard_dev[-756:].mean()
        std_1yr = standard_dev[-252:].mean()
        ##Set a parameter to measure the stability of the stocks for the last 18 months
        #std_mean = (std_3+std_3_to_6+std_6_to_9+std_9_to_12+std_12_to_15+std_15_to_18)/6.0
        #standard_dev_table = standard_dev_table.append(pd.DataFrame({'Constituent': constituent, 'Last 3 months': round(std_3,3), 'Last 3-6 months':round(std_3_to_6,3),'Last 6-9 months': round(std_6_to_9,3),'Last 9-12 months':round(std_9_to_12,3), 'Last 12-15 months':round(std_12_to_15,3),'Last 15-18 months':round(std_15_to_18,3),'Mean std dev(quarterly)':round(std_mean,3)}, index=[0]), ignore_index=True)
        standard_dev_table = standard_dev_table.append(pd.DataFrame({'Constituent': constituent,'Last 12 months':round(std_1yr,2),'Last 3 years':round(std_3yrs,2)},index=[0]),ignore_index=True)
    columnsTitles=['Constituent','Last 12 months','Last 3 years']
    #standard_dev_table = standard_dev_table.sort_values('Mean std dev(quarterly)',axis=0, ascending=True).reset_index(drop=True)
    standard_dev_table =standard_dev_table.reindex(columns=columnsTitles)
    #standard_dev_table.to_csv('standard_dev_table.csv', encoding = 'utf-8', index = False)
    return standard_dev_table

In [13]:
#standard_dev_table = standard_dev_table.sort_values('Mean std dev(quarterly)',axis=0, ascending=True)
#standard_dev_table.to_csv('standard_dev_table.csv', encoding = 'utf-8', index = False)
#std_rank= standard_dev_table[['Constituent','Mean std dev(quarterly)']].head(10)
#std_rank = std_rank.reset_index(drop=True)
#standard_dev_table

## Average True Range

In [14]:
##Calculate the 14-day Average True Range
##For the first 14 days, TR = High-Low
##For the days after: ATR(current) = (ATR(previous) x 13 + TR)/14
def ATR_calculate(his):
    TR = his['daily_high'].iloc[0:14]-his['daily_low'].iloc[0:14]
    ATR0 = TR.mean()
    n = his.shape[0]
    ATR_array = np.zeros(n)
    ATR_array[13]=ATR0
    for i in np.arange(14,n):
        ATR = (his['daily_high'].iloc[i] - his['daily_low'].iloc[i] + ATR0 * 13)/14.0
        ATR_array[i] = ATR
        ATR0 = ATR
    return ATR_array

In [15]:
##Record the current ATR, the average ATR of this year, the average ATR in the last 5 years
def ATR_collection():
    collection = db['historical']
    ATR_table = pd.DataFrame()
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
#all_constituents = ['Allianz','adidas']
    for constituent in all_constituents:
        his = collection.find({"constituent":constituent})
        his = pd.DataFrame(list(his))
        ATR_array = ATR_calculate(his)
        #print ATR_array[-252:].mean()
        ATR_table = ATR_table.append(pd.DataFrame({'Constituent': constituent,'Current 14-day ATR': round(ATR_array[-1],2), 'Average ATR in the last 12 months': round(ATR_array[-252:].mean(),2), 'Average ATR in the last 3 years':round(ATR_array[-756:].mean(),2)}, index=[0]), ignore_index=True)
    
    columnsTitles=['Constituent','Current 14-day ATR','Average ATR in the last 12 months', 'Average ATR in the last 3 years']
    ATR_table=ATR_table.reindex(columns=columnsTitles)
    ATR_table
    #ATR_table = ATR_table.sort_values('Average ATR in the last 12 months',axis=0, ascending=True).reset_index(drop=True)
    #ATR_table.to_csv('ATR %s.csv'%datetime.date.today(), encoding = 'utf-8', index = False)
    return ATR_table

# Financial Performance of the Company

### Return on Capital Employed (ROCE) is a ratio that indicates the profitability and efficiency of a company, i.e. its profit vs. the total amount of capital used (see formula below).  

### Return on Capital Employed = annual net profit/total assets – total liabilities

### Sale is one of the biggest sources of profits for most of the equities, hence also taken into account to assess the financial ability of a company. 

### Profit margin = income to the company per euro of revenue/sale. 

### PER - investor expectation

## Return on Capital Employed

In [16]:
def ROCE_calculate(master):
    master = master[['net profit clean in Mio','Net debt in Mio','Total assetts in Mio','year']].dropna(thresh=2)
    net_profit = master[['net profit clean in Mio','year']].dropna(0,'any')
    net_profit = master[['net profit clean in Mio','year']].dropna(0,'any')
    net_debt = master[['Net debt in Mio','year']].dropna(0,'any')
    total_assets=master[['Total assetts in Mio','year']].dropna(0,'any')
    joined = pd.merge(pd.merge(net_profit,net_debt,on='year'),total_assets,on='year')
    joined["net profit clean in Mio"] = joined["net profit clean in Mio"].str.replace(",","").astype(float)
    joined['Net debt in Mio'] = joined['Net debt in Mio'].str.replace(",","").astype(float)
    joined['Total assetts in Mio'] = joined['Total assetts in Mio'].str.replace(",","").astype(float)
    joined['ROCE']=joined["net profit clean in Mio"]/(joined['Total assetts in Mio']-joined['Net debt in Mio'])
    #print joined
    pct_ROCE = 100*(float(joined['ROCE'].loc[joined['year']==2016])-float(joined['ROCE'].loc[joined['year']==2015]))/float(joined['ROCE'].loc[joined['year']== 2015])
    pct_ROCE_all = 100*(float(joined['ROCE'].loc[joined['year']==2016])-float(joined['ROCE'].loc[joined['year']==2013]))/float(joined['ROCE'].loc[joined['year']== 2013])
    return float(pct_ROCE), float(pct_ROCE_all), joined[['ROCE','year']]

## Sales Revenue

In [17]:
def sales_calculate(master):
    table= master[['Sales in Mio','year']].dropna(thresh=2)
    #print table
    table['Sales in Mio']=table['Sales in Mio'].str.replace(",","").astype(float)
    #print float(table['Sales in Mio'].iloc[-1])
    pct_sales = 100*(float(table['Sales in Mio'].iloc[-1])-float(table['Sales in Mio'].iloc[-2]))/float(table['Sales in Mio'].iloc[-2])
    pct_sales_all = 100*(float(table['Sales in Mio'].iloc[-1])-float(table['Sales in Mio'].iloc[-4]))/float(table['Sales in Mio'].iloc[-4])
    return float(pct_sales), float(pct_sales_all), table[['Sales in Mio','year']]

## ROCE and Sales analysis

In [39]:
##Table for company performance, ROCE and Sales Revenue
def ROCE_and_sales_collection():
    n=0
    collection = db['company_data']
    finance_table = pd.DataFrame()
    #'Commerzbank' after 'BMW', all debt NaN,Deutsche Bank' after'Daimler',no data avaliable for 'Volkswagen (VW) vz'ranked last
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Continental', 'Daimler', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media']
    #all_constituents = ['Allianz', 'adidas']
    for constituent in all_constituents:
        #print constituent
        #n=n+1
        #print constituent
        master = collection.find({"constituent":constituent,'table':'Historical Key Data'})
        master = pd.DataFrame(list(master))
        pct_ROCE, pct_ROCE_all, ROCE_table = ROCE_calculate(master)
        pct_sales, pct_sales_all, sales_table = sales_calculate(master)
        finance_table = finance_table.append(pd.DataFrame({'Constituent': constituent, 'ROCE in 2016': round(ROCE_table['ROCE'].iloc[-1],2), '% change in ROCE from previous year':round(pct_ROCE,2),'% change in ROCE from 4 years ago': round(pct_ROCE_all,2),'Sales in Mio in 2016':round(sales_table['Sales in Mio'].iloc[-1],2), '%change in Sales from previous year':round(pct_sales,2),'%change in Sales from 4 years ago':round(pct_sales_all,2)}, index=[0]), ignore_index=True)
        #print n
    columnsTitles = ['Constituent', 'ROCE in 2016','% change in ROCE from previous year','% change in ROCE from 4 years ago','Sales in Mio in 2016', '%change in Sales from previous year','%change in Sales from 4 years ago']
    finance_table =finance_table.reindex(columns=columnsTitles)
    ROCE_table=finance_table.sort_values('ROCE in 2016',axis=0,ascending=False).reset_index(drop=True)
    sales_table = finance_table.sort_values('Sales in Mio in 2016',axis=0,ascending=False).reset_index(drop=True)
    finance_table.to_csv('finance_table.csv', encoding = 'utf-8', index = False)
    return ROCE_table, sales_table

## Dividend and Dividend Yield Analysis

In [19]:
#Computes the linear regression model for dividend, and produce list of years where dividend is offered. 
def dividend_analysis(div):
    div = div[['Value','Last Dividend Payment']].dropna(thresh=1)
    div = pd.DataFrame(div)
    value = [unicode(x) for x in div["Value"]]
    value = [x.replace(u'\u20ac',"") for x in value]
    value = [float(x) for x in value]
    n=len(value)
    z = np.polyfit(range(n),value[::-1],1)
    estimation = [x*z[0]+z[1] for x in range(n)]
    res = map(operator.sub, value[::-1], estimation)
    mse = sum([x**2 for x in res])/n*1.0
    ##Find out the years where dividend is offered
    #Volkswagen (VW) vz, BMW, RWE: half year
    date_list = pd.DatetimeIndex(div['Last Dividend Payment'])
    year_list = date_list.year
    return z[0],z[1],mse,year_list

In [ ]:
def dividend_yield_analysis(master):
    dividend_yield_table = master[['Dividend yield %','year']].dropna(thresh=2)
    #if constituent !='Commerzbank':
    dividend_yield_table['Dividend yield %']=dividend_yield_table['Dividend yield %'].str.replace("%","")
    ##drop the empty cells and convert to float
    filter = dividend_yield_table['Dividend yield %'] != ''
    dividend_yield_table['Dividend yield %']=dividend_yield_table[filter].astype(float)

In [212]:
##This dividend table stores the results of linear regression, and the list of years when dividends are offered
##'Commerzbank','Deutsche Bank','Lufthansa','RWE','thyssenkrupp','Vonovia','Volkswagen (VW) vz'
def dividend_collection():
    n=0
    collection1 = db['company_data']
    dividend_table = pd.DataFrame()
    #all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank','Continental', 'Daimler', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde', 'Merck', 'SAP', 'Siemens','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media']
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
    #all_constituents = ['Allianz', 'adidas']
    for constituent in all_constituents:
        div = collection1.find({"constituent":constituent,'table':'Dividend'})
        div = pd.DataFrame(list(div))
        #print n
        a,b,mse,year_list=dividend_analysis(div)
        if constituent == 'BMW' or 'Volkswagen (VW) vz' or 'RWE':
            a = a*2.0
        n=n+1
        
        #master=collection1.find({"constituent":constituent,'table':'Historical Key Data'})
        #print constituent
        #master = pd.DataFrame(list(master))
        
        #dividend_yield_table = master[['Dividend yield %','year']].dropna(thresh=2)
        #if constituent !='Commerzbank':
        #dividend_yield_table['Dividend yield %']=dividend_yield_table['Dividend yield %'].str.replace("%","")
        ##drop the empty cells and convert to float
        #filter = dividend_yield_table['Dividend yield %'] != ''
        #dividend_yield_table['Dividend yield %']=dividend_yield_table[filter].astype(float)
        
        dividend_table = dividend_table.append(pd.DataFrame({'Constituent': constituent, 'Current dividend': div['Value'].iloc[-1], 'Average rate of dividend growth /year':round(a,2),'Mean square error of fitting': round(mse,2),'Years of dividend offer':'%s'%year_list}, index=[0]), ignore_index=True)
    
    columnsTitles = ['Constituent', 'Current dividend','Average rate of dividend growth /year','Mean square error of fitting','Years of dividend offer']
    dividend_table =dividend_table.reindex(columns=columnsTitles)
    dividend_table = dividend_table.sort_values('Current dividend',axis=0, ascending=False).reset_index(drop=True)
    #dividend_table.to_csv('dividend_table.csv', encoding = 'utf-8', index = False)
    return dividend_table

In [86]:
collection1 = db['company_data']
master=collection1.find({"constituent":'Commerzbank','table':'Historical Key Data'})
master = pd.DataFrame(list(master))
dividend_yield_table = master[['Dividend yield %','year']].dropna(thresh=2)
dividend_yield_table['Dividend yield %']=dividend_yield_table['Dividend yield %'].str.replace("%","")
dividend_yield_table['Dividend yield %']=dividend_yield_table['Dividend yield %'].replace('', np.nan)
#filter = dividend_yield_table['Dividend yield %'] != ""
#dividend_yield_table=dividend_yield_table[filter]

## Profit Margin Analysis

In [170]:
def profit_margin_calculator(master):
    sales = master[['Sales in Mio','year']].dropna(thresh=2)
    net_profit=master[['Net profit','year']].dropna(thresh=2)
    sales['Sales in Mio']=sales['Sales in Mio'].str.replace(",","").astype(float)
    net_profit['Net profit']=net_profit['Net profit'].str.replace(",","").astype(float)
    profit_margin_table = net_profit.merge(sales,on='year',how='inner')
    profit_margin_calculation = [float(net_profit['Net profit'].iloc[i])/float(sales['Sales in Mio'].iloc[i]) for i in range (sales.shape[0])]
    #or just make a dataframe with year and profit margin
    #for i in range(sales.shape[0]):
     #   profit_margin['Profit margin'].iloc[i] = net_profit['Net profit'].iloc[i]/sales['Sales in Mio'].iloc[i]
    #profit_margin_table['Profit margin'] = profit_margin_calculation
    #profit_margin_table = pd.DataFrame(profit_margin_table)
    return profit_margin_calculation

In [171]:
def profit_margin_collection():
    n=0
    collection1 = db['company_data']
    profit_margin_table = pd.DataFrame()
    #'Volkswagen (VW) vz' does not receive any data
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media']
    #all_constituents = ['Allianz', 'adidas']
    for constituent in all_constituents:
        #print constituent
        master = collection1.find({"constituent":constituent,'table':'Historical Key Data'})
        master = pd.DataFrame(list(master))
        #print n
        profit_margin_calculation = profit_margin_calculator(master)
        profit_margin_table = profit_margin_table.append(pd.DataFrame({'Constituent': constituent, 'Current profit margin':round(profit_margin_calculation[-1],2),'Profit margin last year':round(profit_margin_calculation[-2],2),'Profit margin 4 years ago': round(profit_margin_calculation[-4],2) }, index=[0]), ignore_index=True)
    columnsTitles = ['Constituent', 'Current profit margin','Profit margin last year','Profit margin 4 years ago']
    profit_margin_table =profit_margin_table.reindex(columns=columnsTitles)
    profit_margin_table = profit_margin_table.sort_values('Current profit margin',axis=0, ascending=False).reset_index(drop=True)
    #dividend_table.to_csv('dividend_table.csv', encoding = 'utf-8', index = False)
    return profit_margin_table

## PER Analysis

In [172]:
#'Volkswagen (VW) vz' not found
def PER_collection():
    n=0
    collection1 = db['company_data']
    PER_table = pd.DataFrame()
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media']
    #all_constituents = ['Allianz', 'adidas']
    for constituent in all_constituents:
        master = collection1.find({"constituent":constituent,'table':'Historical Key Data'})
        master = pd.DataFrame(list(master))
        #print constituent
        PER = master[['PER','year']].dropna(thresh=2)
        #year = [datetime.datetime(year=(PER_table['year'].iloc[i]),month=1,day=1) for i in range(PER_table.shape[0])]
        PER = PER['PER'].str.replace(",","").astype(float)
        PER_table = PER_table.append(pd.DataFrame({'Constituent': constituent, 'Current PER':round(PER.iloc[-1],2),'PER last year':round(PER.iloc[-2],2),'PER 4 years ago': round(PER.iloc[-4],2) }, index=[0]), ignore_index=True)
    columnsTitles = ['Constituent', 'Current PER','PER last year','PER 4 years ago']
    PER_table =PER_table.reindex(columns=columnsTitles)
    PER_table = PER_table.sort_values('Current PER',axis=0, ascending=False).reset_index(drop=True)
    #dividend_table.to_csv('dividend_table.csv', encoding = 'utf-8', index = False)
    return PER_table

# Categorising companies by industry

In [24]:
category_table = pd.DataFrame()
array = ['adidas','Clothing','Allianz','Insurance','BASF','Chemicals','Bayer','Pharmaceuticals','Beiersdorf','Chemicals',
 'BMW','Manufacturing','Commerzbank','Banking','Continental','Manufacturing','Daimler','Manufacturing','Deutsche Bank','Banking',
 'Deutsche Börse','Securities','Lufthansa','Transport Aviation','Deutsche Post','Logistics','Deutsche Telekom','Communications',
 'EON','Energy','Fresenius','Medical','Fresenius Medical Care','Medical','HeidelbergCement','Building',
 'Infineon','Semiconductors','Linde','Industrial gases','Merck','Pharmaceuticals','Münchener Rückversicherungs-Gesellschaft','Insurance',
 'ProSiebenSat1 Media','Media','RWE','Energy','SAP','Software','Siemens','Industrial','thyssenkrupp','Manufacturing',
'Volkswagen (VW) vz','Manufacturing','Vonovia','Real estate']
n=len(array)
for i in range(int(n/2)):
    category_table = category_table.append(pd.DataFrame({'Constituent': array[i*2], 'Industry':array[2*i+1] },index=[0]), ignore_index=True)
category_table = pd.DataFrame(category_table)
category_table.to_csv('industry_category_table.csv', encoding = 'utf-8', index = False)

In [25]:
#category_table

# Ranking - all the analysis

In [ ]:
#Profitability(baesd on historical stock price)
cumulative_returns_table = cumulative_returns_collection() #6mn, 1yr,3yr
quarter_mean_table = quarter_mean_collection()#1yr,3yr,7yr

#Volatility measure (based on historical stock price)
standard_dev_table = standard_dev_collection()#1yr,3yr
ATR_table = ATR_collection()#1yr,3yr

#Balance sheet analysis, may be qualitative (data only released once per year, limitations of data)
ROCE_table, sales_table = ROCE_and_sales_collection()
dividend_table = dividend_collection()
profit_margin_table = profit_margin_collection()
PER_table=PER_collection()

##Append missing values into the ROCE table
ROCE_table = ROCE_table.append(pd.DataFrame({'Constituent':'Commerzbank','ROCE in 2016':0.05},index=[0]),ignore_index=True)
ROCE_table = ROCE_table.append(pd.DataFrame({'Constituent':'Deutsche Bank','ROCE in 2016':-0.01},index=[0]),ignore_index=True)
ROCE_table = ROCE_table.append(pd.DataFrame({'Constituent':'Volkswagen (VW) vz','ROCE in 2016':0.03},index=[0]),ignore_index=True)

##Append missing values for Volkswagen for PER and Profit Margin table
PER_table=PER_table.append(pd.DataFrame({'Constituent':'Volkswagen (VW) vz','Current PER':13.0},index=[0]),ignore_index=True)
profit_margin_table = profit_margin_table.append(pd.DataFrame({'Constituent':'Volkswagen (VW) vz','Current profit margin':0.0373,'Profit margin last year':'NaN','Profit margin 4 years ago':'NaN'},index=[0]),ignore_index=True)
##Tables like sales can be used for industry comparison.

## 1-Year Ranking

In [255]:
#Rank constituents according to: 
#profitability: cumulative return last year, ave quarter mean growth rate during the last 12 months
cumulative_return_1year_rank =cumulative_returns_table[['Constituent','1 year return']].sort_values('1 year return',axis=0,ascending=False).reset_index(drop=True)
quarter_mean_1year_rank = quarter_mean_table[['Constituent','Rate of change in price in the last 365 days/quarter']].sort_values('Rate of change in price in the last 365 days/quarter', axis=0, ascending=False).reset_index(drop=True)

#volatility: mean std-dev last year,  mean ATR last year, rank at ascending order
standard_dev_1year_rank = standard_dev_table[['Constituent','Last 12 months']].sort_values('Last 12 months',axis=0, ascending=True).reset_index(drop=True) 
ATR_1year_rank = ATR_table[['Constituent','Average ATR in the last 12 months']].sort_values('Average ATR in the last 12 months',axis=0,ascending=True).reset_index(drop=True)

In [256]:
rank_table_1year = pd.DataFrame()
all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
#all_constituents = ['Allianz', 'adidas']
for constituent in all_constituents :
    #find the average ranking of profitability indicators
    cumulative_return_index = cumulative_return_1year_rank[cumulative_return_1year_rank['Constituent']==constituent].index[0]
    quarter_mean_index =quarter_mean_1year_rank[quarter_mean_1year_rank['Constituent']==constituent].index[0]
    profitability_score = cumulative_return_index + quarter_mean_index
    #find the average ranking of stability indicators
    standard_dev_index = standard_dev_1year_rank[standard_dev_1year_rank['Constituent']==constituent].index[0]
    ATR_index = ATR_1year_rank[ATR_1year_rank['Constituent']==constituent].index[0]
    stability_score = standard_dev_index+ATR_index
    
    rank_table_1year = rank_table_1year.append(pd.DataFrame({'Constituent': constituent, 'Cumulative return rank (dsc)': cumulative_return_index, 'Quarter mean growth rank (dsc)':quarter_mean_index, 'Profitability score':profitability_score,'Standard dev rank (asc)':standard_dev_index, 'ATR rank (asc)':ATR_index,'Stability score': stability_score}, index=[0]), ignore_index=True)
columnsTitles = ['Constituent', 'Cumulative return rank (dsc)','Quarter mean growth rank (dsc)','Profitability score','Standard dev rank (asc)','ATR rank (asc)','Stability score']
rank_table_1year =rank_table_1year.reindex(columns=columnsTitles)
#rank_table_1year = category_table.merge(rank_table,on='Constituent',how='inner')
#rank_table_1year.to_csv('rank_table.csv', encoding = 'utf-8', index = False)

In [257]:
##Rank according to the profitability score of the stocks
profitability_rank_1year = pd.DataFrame()
stability_rank_1year = pd.DataFrame()

rank_table_1year=rank_table_1year.sort_values('Profitability score',axis=0, ascending=True).reset_index(drop=True)
for constituent in all_constituents :
    profitability_index_1year =  rank_table_1year[rank_table_1year['Constituent']==constituent].index[0]
    profitability_rank_1year = profitability_rank_1year.append(pd.DataFrame({'Constituent': constituent, 'Profitability rank':profitability_index_1year},index=[0]), ignore_index=True)

rank_table_1year=rank_table_1year.sort_values('Stability score',axis=0, ascending=True).reset_index(drop=True)
for constituent in all_constituents :
    stability_index_1year = rank_table_1year[rank_table_1year['Constituent']==constituent].index[0]
    stability_rank_1year = stability_rank_1year.append(pd.DataFrame({'Constituent': constituent, 'Stability rank':stability_index_1year},index=[0]), ignore_index=True) 

rank_table_1year=profitability_rank_1year.merge(rank_table_1year, on='Constituent',how='inner')
rank_table_1year=stability_rank_1year.merge(rank_table_1year, on='Constituent',how='inner')

columnsTitles = ['Constituent','Profitability rank','Stability rank','Cumulative return rank (dsc)','Quarter mean growth rank (dsc)','Profitability score','Standard dev rank (asc)','ATR rank (asc)','Stability score']
rank_table_1year =rank_table_1year.reindex(columns=columnsTitles)
rank_table_1year

,Constituent,Profitability rank,Stability rank,Cumulative return rank (dsc),Quarter mean growth rank (dsc),Profitability score,Standard dev rank (asc),ATR rank (asc),Stability score
0,Allianz,0,24,3,0,3,24,24,48
1,adidas,1,27,5,1,6,28,26,54
2,BASF,8,17,15,6,21,15,17,32
3,Bayer,5,21,10,7,17,21,21,42
4,Beiersdorf,21,11,22,14,36,11,11,22
5,BMW,16,20,17,12,29,19,20,39
6,Commerzbank,12,1,1,22,23,2,1,3
7,Continental,18,28,24,8,32,27,28,55
8,Daimler,23,14,21,15,36,13,16,29
9,Deutsche Bank,19,8,14,19,33,9,7,16
10,Deutsche Börse,10,16,12,10,22,17,13,30
11,Deutsche Post,15,6,9,17,26,5,6,11
12,Deutsche Telekom,25,2,25,24,49,1,2,3
13,EON,28,0,27,28,55,0,0,0
14,Fresenius,20,12,19,16,35,12,14,26
15,HeidelbergCement,14,19,13,13,26,20,18,38
16,Infineon,9,4,2,20,22,3,4,7
17,Linde,2,25,6,3,9,25,25,50
18,Lufthansa,6,3,0,18,18,4,3,7
19,Merck,17,18,20,11,31,18,19,37
20,RWE,22,5,11,25,36,6,5,11
21,SAP,4,15,7,9,16,14,15,29
22,Siemens,3,22,8,2,10,22,22,44
23,thyssenkrupp,13,7,4,21,25,7,8,15
24,Vonovia,26,9,26,27,53,8,9,17
25,Fresenius Medical Care,24,13,23,23,46,16,12,28
26,Münchener Rückversicherungs-Gesellschaft,7,23,16,4,20,23,23,46
27,ProSiebenSat1 Media,27,10,28,26,54,10,10,20
28,Volkswagen (VW) vz,11,26,18,5,23,26,27,53

## 3-Years Ranking

In [178]:
#Rank constituents according to: 
#profitability: cumulative return last 3 years, ave quarter mean growth rate during the last 3 years
cumulative_return_3years_rank =cumulative_returns_table[['Constituent','3 years return']].sort_values('3 years return',axis=0,ascending=False).reset_index(drop=True)
quarter_mean_3years_rank = quarter_mean_table[['Constituent','Rate of change in price in the last 3 years/quarter']].sort_values('Rate of change in price in the last 3 years/quarter', axis=0, ascending=False).reset_index(drop=True)

#volatility: mean std-dev last 3 years,  mean ATR last 3 years, rank at ascending order
standard_dev_3years_rank = standard_dev_table[['Constituent','Last 3 years']].sort_values('Last 3 years',axis=0, ascending=True).reset_index(drop=True) 
ATR_3years_rank = ATR_table[['Constituent','Average ATR in the last 3 years']].sort_values('Average ATR in the last 3 years',axis=0,ascending=True).reset_index(drop=True)

In [232]:
rank_table_3years = pd.DataFrame()
all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', 'Deutsche Börse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care','Münchener Rückversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
#all_constituents = ['Allianz', 'adidas']
for constituent in all_constituents :
    #find the average ranking of profitability indicators
    cumulative_return_index_3years = cumulative_return_3years_rank[cumulative_return_3years_rank['Constituent']==constituent].index[0]
    quarter_mean_index_3years =quarter_mean_3years_rank[quarter_mean_3years_rank['Constituent']==constituent].index[0]
    profitability_score_3years = cumulative_return_index + quarter_mean_index
    #find the average ranking of stability indicators
    standard_dev_index_3years = standard_dev_3years_rank[standard_dev_3years_rank['Constituent']==constituent].index[0]
    ATR_index_3years = ATR_3years_rank[ATR_3years_rank['Constituent']==constituent].index[0]
    stability_score_3years = standard_dev_index+ATR_index
    
    rank_table_3years = rank_table_3years.append(pd.DataFrame({'Constituent': constituent, 'Cumulative return rank (dsc)': cumulative_return_index_3years, 'Quarter mean growth rank (dsc)':quarter_mean_index_3years,'Profitability score':profitability_score_3years,'Standard dev rank (asc)':standard_dev_index_3years, 'ATR rank (asc)':ATR_index_3years,'Stability score':stability_score_3years}, index=[0]), ignore_index=True)
columnsTitles = ['Constituent', 'Cumulative return rank (dsc)','Quarter mean growth rank (dsc)','Profitability score','Standard dev rank (asc)','ATR rank (asc)','Stability score']
rank_table_3years =rank_table_3years.reindex(columns=columnsTitles)
#rank_table_1year = category_table.merge(rank_table,on='Constituent',how='inner')
#rank_table_3years.to_csv('rank_table.csv', encoding = 'utf-8', index = False)
rank_table_3years=rank_table_3years.sort_values('Profitability score',axis=0, ascending=True).reset_index(drop=True)

In [234]:
profitability_rank_3years = pd.DataFrame()
stability_rank_3years = pd.DataFrame()

rank_table_3years=rank_table_3years.sort_values('Profitability score',axis=0, ascending=True).reset_index(drop=True)
for constituent in all_constituents :
    profitability_index_3years =  rank_table_3years[rank_table_3years['Constituent']==constituent].index[0]
    profitability_rank_3years = profitability_rank_3years.append(pd.DataFrame({'Constituent': constituent, 'Profitability rank':profitability_index_3years},index=[0]), ignore_index=True)

rank_table_3years=rank_table_3years.sort_values('Stability score',axis=0, ascending=True).reset_index(drop=True)
for constituent in all_constituents :
    stability_index_3years = rank_table_3years[rank_table_3years['Constituent']==constituent].index[0]
    stability_rank_3years = stability_rank_3years.append(pd.DataFrame({'Constituent': constituent, 'Stability rank':stability_index_3years},index=[0]), ignore_index=True) 


rank_table_3years=profitability_rank_3years.merge(rank_table_3years, on='Constituent',how='inner')
rank_table_3years=stability_rank_3years.merge(rank_table_3years, on='Constituent',how='inner')

columnsTitles = ['Constituent','Profitability rank','Stability rank','Cumulative return rank (dsc)','Quarter mean growth rank (dsc)','Profitability score','Standard dev rank (asc)','ATR rank (asc)','Stability score']
rank_table_3years =rank_table_3years.reindex(columns=columnsTitles)
rank_table_3years

,Constituent,Profitability rank,Stability rank,Cumulative return rank (dsc),Quarter mean growth rank (dsc),Profitability score,Standard dev rank (asc),ATR rank (asc),Stability score
0,Allianz,0,0,6,7,52,25,24,56
1,adidas,26,1,0,0,52,22,21,56
2,BASF,25,2,20,15,52,16,18,56
3,Bayer,24,3,16,27,52,23,23,56
4,Beiersdorf,23,4,8,9,52,12,11,56
5,BMW,22,5,23,25,52,21,22,56
6,Commerzbank,21,6,22,20,52,1,1,56
7,Continental,20,7,15,10,52,27,27,56
8,Daimler,19,8,21,21,52,17,19,56
9,Deutsche Bank,18,9,26,24,52,9,9,56
10,Deutsche Börse,17,10,3,6,52,14,15,56
11,Deutsche Post,16,11,13,14,52,5,5,56
12,Deutsche Telekom,15,12,9,16,52,3,3,56
13,EON,27,13,28,22,52,0,0,56
14,Fresenius,14,14,25,2,52,18,13,56
15,HeidelbergCement,12,15,7,3,52,15,16,56
16,Infineon,11,16,1,12,52,2,2,56
17,Linde,10,17,18,23,52,26,26,56
18,Lufthansa,9,18,12,19,52,4,4,56
19,Merck,8,19,11,8,52,20,17,56
20,RWE,7,20,27,26,52,6,6,56
21,SAP,6,21,4,1,52,11,12,56
22,Siemens,5,22,10,4,52,19,20,56
23,thyssenkrupp,4,23,14,18,52,7,8,56
24,Vonovia,3,24,5,13,52,8,7,56
25,Fresenius Medical Care,2,25,2,5,52,13,14,56
26,Münchener Rückversicherungs-Gesellschaft,1,26,19,11,52,24,25,56
27,ProSiebenSat1 Media,13,27,17,17,52,10,10,56
28,Volkswagen (VW) vz,28,28,24,28,52,28,28,56

## Comparing rankings: 1-year vs 3-years

### The comparison shows whether or not and how much the stock has improved. If the change of ranking is negative, it means that the stock seems to become increasingly profitable.

In [258]:
profitability_rank_diff = rank_table_1year['Profitability rank'] - rank_table_3years['Profitability rank']
rank_table_1year['Change in profitability ranking from the 3-years ranking'] = profitability_rank_diff

In [259]:
rank_table_1year

,Constituent,Profitability rank,Stability rank,Cumulative return rank (dsc),Quarter mean growth rank (dsc),Profitability score,Standard dev rank (asc),ATR rank (asc),Stability score,Change in profitability ranking from the 3-years ranking
0,Allianz,0,24,3,0,3,24,24,48,0
1,adidas,1,27,5,1,6,28,26,54,-25
2,BASF,8,17,15,6,21,15,17,32,-17
3,Bayer,5,21,10,7,17,21,21,42,-19
4,Beiersdorf,21,11,22,14,36,11,11,22,-2
5,BMW,16,20,17,12,29,19,20,39,-6
6,Commerzbank,12,1,1,22,23,2,1,3,-9
7,Continental,18,28,24,8,32,27,28,55,-2
8,Daimler,23,14,21,15,36,13,16,29,4
9,Deutsche Bank,19,8,14,19,33,9,7,16,1
10,Deutsche Börse,10,16,12,10,22,17,13,30,-7
11,Deutsche Post,15,6,9,17,26,5,6,11,-1
12,Deutsche Telekom,25,2,25,24,49,1,2,3,10
13,EON,28,0,27,28,55,0,0,0,1
14,Fresenius,20,12,19,16,35,12,14,26,6
15,HeidelbergCement,14,19,13,13,26,20,18,38,2
16,Infineon,9,4,2,20,22,3,4,7,-2
17,Linde,2,25,6,3,9,25,25,50,-8
18,Lufthansa,6,3,0,18,18,4,3,7,-3
19,Merck,17,18,20,11,31,18,19,37,9
20,RWE,22,5,11,25,36,6,5,11,15
21,SAP,4,15,7,9,16,14,15,29,-2
22,Siemens,3,22,8,2,10,22,22,44,-2
23,thyssenkrupp,13,7,4,21,25,7,8,15,9
24,Vonovia,26,9,26,27,53,8,9,17,23
25,Fresenius Medical Care,24,13,23,23,46,16,12,28,22
26,Münchener Rückversicherungs-Gesellschaft,7,23,16,4,20,23,23,46,6
27,ProSiebenSat1 Media,27,10,28,26,54,10,10,20,14
28,Volkswagen (VW) vz,11,26,18,5,23,26,27,53,-17

## Balance Sheet Ranking

In [217]:
#financial health: ROCE,dividend,profit_margin,PER in 2016
ROCE_rank = ROCE_table[['Constituent','ROCE in 2016']].sort_values('ROCE in 2016',axis=0,ascending=False).reset_index(drop=True)
dividend_rank = dividend_table[['Constituent','Current dividend']].sort_values('Current dividend',axis=0, ascending=False).reset_index(drop=True)
profit_margin_rank = profit_margin_table[['Constituent','Current profit margin']].sort_values('Current profit margin',axis=0,ascending=False).reset_index(drop=True)
PER_rank = PER_table[['Constituent','Current PER']].sort_values('Current PER',axis=0, ascending=False).reset_index(drop=True)

In [250]:
balance_sheet_rank=pd.DataFrame()
for constituent in all_constituents :
    #print constituent
    ROCE_index =  ROCE_rank[ROCE_rank['Constituent']==constituent].index[0]
    dividend_index = dividend_rank[dividend_rank['Constituent']==constituent].index[0]
    profit_margin_index = profit_margin_rank[profit_margin_rank['Constituent']==constituent].index[0]
    PER_index = PER_rank[PER_rank['Constituent']==constituent].index[0]
    finance_sum = ROCE_index+dividend_index+profit_margin_index+PER_index 
    balance_sheet_rank = balance_sheet_rank.append(pd.DataFrame({'Constituent': constituent, 'ROCE rank':ROCE_index,'Dividend rank':dividend_index,'Profit margin rank':profit_margin_index,'PER rank':PER_index,'Sum':finance_sum},index=[0]),ignore_index=True) 
columnsTitles = ['Constituent','ROCE rank','Dividend rank','Profit margin rank','PER rank','Sum']
#balance_sheet_rank =balance_sheet_rank.reindex(columns=columnsTitles)
#balance_sheet_rank=balance_sheet_rank.sort_values('Sum',axis=0, ascending=True).reset_index(drop=True)

financial_health_rank=pd.DataFrame()
for constituent in all_constituents :
    financial_health_index = balance_sheet_rank[balance_sheet_rank['Constituent']==constituent].index[0]
    financial_health_rank = financial_health_rank.append(pd.DataFrame({'Constituent': constituent, 'Fundamental rank':financial_health_index},index=[0]), ignore_index=True)
balance_sheet_rank = balance_sheet_rank.merge(financial_health_rank,on='Constituent',how='inner')
columnsTitles = ['Constituent','Fundamental rank','ROCE rank','Dividend rank','Profit margin rank','PER rank','Sum']
balance_sheet_rank =balance_sheet_rank.reindex(columns=columnsTitles)
balance_sheet_rank=balance_sheet_rank.sort_values('Fundamental rank',axis=0, ascending=True).reset_index(drop=True)

In [251]:
balance_sheet_rank

,Constituent,Fundamental rank,ROCE rank,Dividend rank,Profit margin rank,PER rank,Sum
0,Allianz,0,26,1,17,23,67
1,adidas,1,8,18,19,2,47
2,BASF,2,7,6,8,11,32
3,Bayer,3,5,10,7,10,32
4,Beiersdorf,4,6,21,6,3,36
5,BMW,5,20,4,9,26,59
6,Commerzbank,6,12,26,24,1,63
7,Continental,7,3,7,11,20,41
8,Daimler,8,16,9,15,25,65
9,Deutsche Bank,9,28,20,28,19,95
10,Deutsche Börse,10,27,16,1,13,57
11,Deutsche Post,11,9,25,20,18,72
12,Deutsche Telekom,12,17,22,14,12,65
13,EON,13,22,11,25,17,75
14,Fresenius,14,14,17,22,4,57
15,HeidelbergCement,15,19,27,18,9,73
16,Infineon,16,4,28,5,8,45
17,Linde,17,13,5,13,5,36
18,Lufthansa,18,11,13,16,28,68
19,Merck,19,2,14,3,14,33
20,RWE,20,23,8,26,24,81
21,SAP,21,1,19,2,7,29
22,Siemens,22,15,3,12,16,46
23,thyssenkrupp,23,24,12,27,0,63
24,Vonovia,24,18,23,0,27,68
25,Fresenius Medical Care,25,10,24,10,6,50
26,Münchener Rückversicherungs-Gesellschaft,26,25,0,21,22,68
27,ProSiebenSat1 Media,27,0,15,4,15,34
28,Volkswagen (VW) vz,28,21,2,23,21,67

## Joining the 1-year ranking table with category and fundamental

In [262]:
rank_table_1year = rank_table_1year.merge(balance_sheet_rank,on='Constituent',how='inner')
rank_table_1year = rank_table_1year.merge(category_table,on='Constituent',how='inner')
columnsTitles = ['Constituent','Industry','Profitability rank','Fundamental rank','Stability rank','Change in profitability ranking from the 3-years ranking','Cumulative return rank (dsc)','Quarter mean growth rank (dsc)','Profitability score','Standard dev rank (asc)','ATR rank (asc)','Stability score','ROCE rank','Dividend rank','Profit margin rank','PER rank','Sum']
rank_table_1year =rank_table_1year.reindex(columns=columnsTitles)
##Rank according to the highest profitability.
rank_table_1year = rank_table_1year.sort_values('Profitability rank', axis=0, ascending=True).reset_index(drop=True)
rank_table_1year

,Constituent,Industry,Profitability rank,Fundamental rank,Stability rank,Change in profitability ranking from the 3-years ranking,Cumulative return rank (dsc),Quarter mean growth rank (dsc),Profitability score,Standard dev rank (asc),ATR rank (asc),Stability score,ROCE rank,Dividend rank,Profit margin rank,PER rank,Sum
0,Allianz,Insurance,0,0,24,0,3,0,3,24,24,48,26,1,17,23,67
1,adidas,Clothing,1,1,27,-25,5,1,6,28,26,54,8,18,19,2,47
2,Linde,Industrial gases,2,17,25,-8,6,3,9,25,25,50,13,5,13,5,36
3,Siemens,Industrial,3,22,22,-2,8,2,10,22,22,44,15,3,12,16,46
4,SAP,Software,4,21,15,-2,7,9,16,14,15,29,1,19,2,7,29
5,Bayer,Pharmaceuticals,5,3,21,-19,10,7,17,21,21,42,5,10,7,10,32
6,Lufthansa,Transport Aviation,6,18,3,-3,0,18,18,4,3,7,11,13,16,28,68
7,Münchener Rückversicherungs-Gesellschaft,Insurance,7,26,23,6,16,4,20,23,23,46,25,0,21,22,68
8,BASF,Chemicals,8,2,17,-17,15,6,21,15,17,32,7,6,8,11,32
9,Infineon,Semiconductors,9,16,4,-2,2,20,22,3,4,7,4,28,5,8,45
10,Deutsche Börse,Securities,10,10,16,-7,12,10,22,17,13,30,27,16,1,13,57
11,Volkswagen (VW) vz,Manufacturing,11,28,26,-17,18,5,23,26,27,53,21,2,23,21,67
12,Commerzbank,Banking,12,6,1,-9,1,22,23,2,1,3,12,26,24,1,63
13,thyssenkrupp,Manufacturing,13,23,7,9,4,21,25,7,8,15,24,12,27,0,63
14,HeidelbergCement,Building,14,15,19,2,13,13,26,20,18,38,19,27,18,9,73
15,Deutsche Post,Logistics,15,11,6,-1,9,17,26,5,6,11,9,25,20,18,72
16,BMW,Manufacturing,16,5,20,-6,17,12,29,19,20,39,20,4,9,26,59
17,Merck,Pharmaceuticals,17,19,18,9,20,11,31,18,19,37,2,14,3,14,33
18,Continental,Manufacturing,18,7,28,-2,24,8,32,27,28,55,3,7,11,20,41
19,Deutsche Bank,Banking,19,9,8,1,14,19,33,9,7,16,28,20,28,19,95
20,Fresenius,Medical,20,14,12,6,19,16,35,12,14,26,14,17,22,4,57
21,Beiersdorf,Chemicals,21,4,11,-2,22,14,36,11,11,22,6,21,6,3,36
22,RWE,Energy,22,20,5,15,11,25,36,6,5,11,23,8,26,24,81
23,Daimler,Manufacturing,23,8,14,4,21,15,36,13,16,29,16,9,15,25,65
24,Fresenius Medical Care,Medical,24,25,13,22,23,23,46,16,12,28,10,24,10,6,50
25,Deutsche Telekom,Communications,25,12,2,10,25,24,49,1,2,3,17,22,14,12,65
26,Vonovia,Real estate,26,24,9,23,26,27,53,8,9,17,18,23,0,27,68
27,ProSiebenSat1 Media,Media,27,27,10,14,28,26,54,10,10,20,0,15,4,15,34
28,EON,Energy,28,13,0,1,27,28,55,0,0,0,22,11,25,17,75

In [265]:
rank_table_1year = rank_table_1year.to_csv('Ranking_1_year.csv', encoding = 'utf-8', index = False)

## Joining the 3-years ranking table with category

In [263]:
rank_table_3years = rank_table_3years.merge(balance_sheet_rank,on='Constituent',how='inner')
rank_table_3years = rank_table_3years.merge(category_table,on='Constituent',how='inner')
columnsTitles = ['Constituent','Industry','Profitability rank','Fundamental rank','Stability rank','Cumulative return rank (dsc)','Quarter mean growth rank (dsc)','Profitability score','Standard dev rank (asc)','ATR rank (asc)','Stability score','ROCE rank','Dividend rank','Profit margin rank','PER rank','Sum']
rank_table_3years =rank_table_3years.reindex(columns=columnsTitles)
##Rank according to the highest profitability.
rank_table_3years = rank_table_3years.sort_values('Profitability rank', axis=0, ascending=True).reset_index(drop=True)
rank_table_3years

,Constituent,Industry,Profitability rank,Fundamental rank,Stability rank,Cumulative return rank (dsc),Quarter mean growth rank (dsc),Profitability score,Standard dev rank (asc),ATR rank (asc),Stability score,ROCE rank,Dividend rank,Profit margin rank,PER rank,Sum
0,Allianz,Insurance,0,0,0,6,7,52,25,24,56,26,1,17,23,67
1,Münchener Rückversicherungs-Gesellschaft,Insurance,1,26,26,19,11,52,24,25,56,25,0,21,22,68
2,Fresenius Medical Care,Medical,2,25,25,2,5,52,13,14,56,10,24,10,6,50
3,Vonovia,Real estate,3,24,24,5,13,52,8,7,56,18,23,0,27,68
4,thyssenkrupp,Manufacturing,4,23,23,14,18,52,7,8,56,24,12,27,0,63
5,Siemens,Industrial,5,22,22,10,4,52,19,20,56,15,3,12,16,46
6,SAP,Software,6,21,21,4,1,52,11,12,56,1,19,2,7,29
7,RWE,Energy,7,20,20,27,26,52,6,6,56,23,8,26,24,81
8,Merck,Pharmaceuticals,8,19,19,11,8,52,20,17,56,2,14,3,14,33
9,Lufthansa,Transport Aviation,9,18,18,12,19,52,4,4,56,11,13,16,28,68
10,Linde,Industrial gases,10,17,17,18,23,52,26,26,56,13,5,13,5,36
11,Infineon,Semiconductors,11,16,16,1,12,52,2,2,56,4,28,5,8,45
12,HeidelbergCement,Building,12,15,15,7,3,52,15,16,56,19,27,18,9,73
13,ProSiebenSat1 Media,Media,13,27,27,17,17,52,10,10,56,0,15,4,15,34
14,Fresenius,Medical,14,14,14,25,2,52,18,13,56,14,17,22,4,57
15,Deutsche Telekom,Communications,15,12,12,9,16,52,3,3,56,17,22,14,12,65
16,Deutsche Post,Logistics,16,11,11,13,14,52,5,5,56,9,25,20,18,72
17,Deutsche Börse,Securities,17,10,10,3,6,52,14,15,56,27,16,1,13,57
18,Deutsche Bank,Banking,18,9,9,26,24,52,9,9,56,28,20,28,19,95
19,Daimler,Manufacturing,19,8,8,21,21,52,17,19,56,16,9,15,25,65
20,Continental,Manufacturing,20,7,7,15,10,52,27,27,56,3,7,11,20,41
21,Commerzbank,Banking,21,6,6,22,20,52,1,1,56,12,26,24,1,63
22,BMW,Manufacturing,22,5,5,23,25,52,21,22,56,20,4,9,26,59
23,Beiersdorf,Chemicals,23,4,4,8,9,52,12,11,56,6,21,6,3,36
24,Bayer,Pharmaceuticals,24,3,3,16,27,52,23,23,56,5,10,7,10,32
25,BASF,Chemicals,25,2,2,20,15,52,16,18,56,7,6,8,11,32
26,adidas,Clothing,26,1,1,0,0,52,22,21,56,8,18,19,2,47
27,EON,Energy,27,13,13,28,22,52,0,0,56,22,11,25,17,75
28,Volkswagen (VW) vz,Manufacturing,28,28,28,24,28,52,28,28,56,21,2,23,21,67

In [264]:
rank_table_3years = rank_table_3years.to_csv('Ranking_3_years.csv', encoding = 'utf-8', index = False)