In [31]:
from pymongo import MongoClient
from pprint import pprint
from datetime import datetime
from bson.son import SON

In [34]:
client = MongoClient("mongodb://igenie_readwrite:igenie@35.197.207.148:27017/dax_gcp")
db = client["dax_gcp"]
collection = db["tweet_logs"]

In [35]:
res = list(collection.find())

In [36]:
pprint(res)

[{'_id': ObjectId('599a288f6f9e566b38c11681'),
  'date': datetime.datetime(2017, 8, 21, 0, 0),
  'inserted_tweets': {'en': {'BMW': 54305,
                             'Commerzbank': 693,
                             'Deutsche Bank': 7351,
                             'EON': 2587,
                             'adidas': 133153}}},
 {'_id': ObjectId('599dc8ba6f9e566b38c134d7'),
  'date': datetime.datetime(2017, 8, 23, 0, 0),
  'inserted_tweets': {'de': {'BMW': 724,
                             'Commerzbank': 6,
                             'Deutsche Bank': 2,
                             'EON': 7,
                             'adidas': 7}}},
 {'_id': ObjectId('59a570946f9e566b38c13d19'),
  'date': datetime.datetime(2017, 8, 29, 0, 0),
  'inserted_tweets': {'en': {'Deutsche Bank': 2739}}},
 {'_id': ObjectId('59a6da686f9e566b38c13f63'),
  'date': datetime.datetime(2017, 8, 30, 0, 0),
  'inserted_tweets': {'en': {'BMW': 58425,
                             'Commerzbank': 477,
                             'Deutsche Bank': 2818,
                             'EON': 4148,
                             'adidas': 44303}}},
 {'_id': ObjectId('59b3fca06f9e566b38c3017f'),
  'date': datetime.datetime(2017, 9, 9, 0, 0),
  'inserted_tweets': {'de': {'BMW': 14,
                             'Commerzbank': 11,
                             'Deutsche Bank': 20,
                             'EON': 5,
                             'adidas': 28}}},
 {'_id': ObjectId('59b81e486f9e566b38c43bb8'),
  'date': datetime.datetime(2017, 9, 12, 0, 0),
  'inserted_tweets': {'de': {'BMW': 4059,
                             'Commerzbank': 982,
                             'Deutsche Bank': 1882,
                             'EON': 163,
                             'adidas': 2749},
                      'en': {'BMW': 71,
                             'Commerzbank': 85,
                             'Deutsche Bank': 86,
                             'EON': 35,
                             'adidas': 146}},
  'time': '18:39:20'},
 {'_id': ObjectId('59b92b426f9e566b38c497c9'),
  'date': datetime.datetime(2017, 9, 13, 0, 0),
  'inserted_tweets': {'en': {'DAX': 3941}}},
 {'_id': ObjectId('59c205a86f9e566b38c77967'),
  'date': datetime.datetime(2017, 9, 20, 0, 0),
  'inserted_tweets': {'en': {'Allianz': 1222, 'BMW': 28843, 'Daimler': 5620}}},
 {'_id': ObjectId('59c2b3aa6f9e566b38c7bc21'),
  'date': datetime.datetime(2017, 9, 21, 0, 0),
  'inserted_tweets': {'en': {'BMW': 9539,
                             'Commerzbank': 749,
                             'DAX': 499,
                             'Deutsche Bank': 2618,
                             'EON': 2544,
                             'adidas': 43937}}},
 {'_id': ObjectId('59c4de4e6f9e566b38c8937f'),
  'date': datetime.datetime(2017, 9, 22, 0, 0),
  'inserted_tweets': {'de': {'BMW': 4569,
                             'Commerzbank': 904,
                             'Deutsche Bank': 1161,
                             'EON': 220,
                             'adidas': 729},
                      'en': {'BASF': 810,
                             'Bayer': 4378,
                             'Beiersdorf': 4,
                             'Continental': 15050,
                             'Daimler': 1188,
                             'Deutsche Börse': 413,
                             'Deutsche Post': 48,
                             'Deutsche Telekom': 400,
                             'Fresenius Medical Care': 795,
                             'HeidelbergCement': 2,
                             'Infineon': 81,
                             'Linde': 538,
                             'Lufthansa': 2789,
                             'Merck': 1843,
                             'RWE': 518,
                             'SAP': 20108,
                             'Siemens': 4241,
                             'adidas': 86,
                             'thyssenkrupp': 3084}},
  'time': '23:34:21'},
 {'_id': ObjectId('59c556d26f9e566b38c8f8e7'),
  'date': datetime.datetime(2017, 9, 23, 0, 0),
  'inserted_tweets': {'en': {'Vonovia': 12}}},
 {'_id': ObjectId('59c98ccb6f9e566b38c9f707'),
  'date': datetime.datetime(2017, 9, 25, 0, 0),
  'inserted_tweets': {'en': {'BMW': 23320, 'adidas': 53296}},
  'time': '23:59:15'},
 {'_id': ObjectId('59c99c346f9e566b38ca06a4'),
  'date': datetime.datetime(2017, 9, 26, 0, 0),
  'inserted_tweets': {'de': {'BMW': 1587,
                             'Commerzbank': 178,
                             'Deutsche Bank': 351,
                             'EON': 80,
                             'adidas': 901},
                      'en': {'Commerzbank': 128,
                             'Deutsche Bank': 2473,
                             'EON': 1272,
                             'adidas': 32135}},
  'time': '23:31:12'},
 {'_id': ObjectId('59cd170b6f9e566b38ccf86d'),
  'date': datetime.datetime(2017, 9, 28, 0, 0),
  'inserted_tweets': {'en': {'Allianz': 5771,
                             'BASF': 440,
                             'BMW': 18326,
                             'Bayer': 2389,
                             'Continental': 9292,
                             'DAX': 5935,
                             'Daimler': 4945,
                             'Deutsche Börse': 59,
                             'Deutsche Post': 19,
                             'Deutsche Telekom': 78,
                             'Fresenius Medical Care': 235,
                             'adidas': 47536}},
  'time': '23:59:58'},
 {'_id': ObjectId('59cd8d016f9e566b38cd9379'),
  'date': datetime.datetime(2017, 9, 29, 0, 0),
  'inserted_tweets': {'en': {'Commerzbank': 104,
                             'Deutsche Bank': 1338,
                             'EON': 840,
                             'adidas': 19067}},
  'time': '00:15:42'},
 {'_id': ObjectId('59d2c74b6f9e566b38d090aa'),
  'date': datetime.datetime(2017, 10, 2, 0, 0),
  'inserted_tweets': {'en': {'BMW': 19564, 'adidas': 47450}},
  'time': '23:56:13'},
 {'_id': ObjectId('59d2da946f9e566b38d0a09d'),
  'date': datetime.datetime(2017, 10, 3, 0, 0),
  'inserted_tweets': {'en': {'Commerzbank': 105,
                             'Deutsche Bank': 2455,
                             'EON': 950}},
  'time': '00:42:04'},
 {'_id': ObjectId('59d6bbca6f9e566b38d2d733'),
  'date': datetime.datetime(2017, 10, 5, 0, 0),
  'inserted_tweets': {'en': {'BMW': 12926, 'adidas': 42959}},
  'time': '23:55:23'},
 {'_id': ObjectId('59d6d1596f9e566b38d2ea08'),
  'date': datetime.datetime(2017, 10, 6, 0, 0),
  'inserted_tweets': {'en': {'Commerzbank': 917,
                             'Deutsche Bank': 1297,
                             'EON': 1736}},
  'time': '00:44:42'},
 {'_id': ObjectId('59dc01cb6f9e566b38d4dde6'),
  'date': datetime.datetime(2017, 10, 9, 0, 0),
  'inserted_tweets': {'en': {'BMW': 17470, 'adidas': 51671}},
  'time': '23:56:38'},
 {'_id': ObjectId('59dc14716f9e566b38d4ed75'),
  'date': datetime.datetime(2017, 10, 10, 0, 0),
  'inserted_tweets': {'en': {'Commerzbank': 569,
                             'Deutsche Bank': 2165,
                             'EON': 1273}},
  'time': '00:32:25'},
 {'_id': ObjectId('59e0551ca185722277d949cb'),
  'date': datetime.datetime(2017, 10, 13, 0, 0),
  'inserted_tweets': {'en': {'Allianz': 2637,
                             'BASF': 1104,
                             'Bayer': 2636,
                             'Beiersdorf': 53,
                             'Continental': 16002,
                             'DAX': 7182,
                             'Daimler': 521,
                             'Deutsche Börse': 159,
                             'Deutsche Post': 840,
                             'Deutsche Telekom': 271,
                             'Fresenius Medical Care': 272,
                             'Henkel vz': 2,
                             'Infineon': 415,
                             'Linde': 1129,
                             'Lufthansa': 4688,
                             'Merck': 2546,
                             'RWE': 197,
                             'SAP': 31359,
                             'Siemens': 5442,
                             'Vonovia': 26,
                             'thyssenkrupp': 615}}},
 {'_id': ObjectId('59e53c4aa185722277dc5837'),
  'date': datetime.datetime(2017, 10, 16, 0, 0),
  'inserted_tweets': {'en': {'BMW': 41191, 'adidas': 51576}},
  'time': '23:59:58'},
 {'_id': ObjectId('59e54801a185722277dc6499'),
  'date': datetime.datetime(2017, 10, 17, 0, 0),
  'inserted_tweets': {'en': {'Commerzbank': 494,
                             'Deutsche Bank': 2658,
                             'EON': 1918,
                             'adidas': 51638}},
  'time': '00:45:06'},
 {'_id': ObjectId('59e930cba185722277dd3e38'),
  'date': '19/10/2017',
  'inserted_tweets': {'en': {'BMW': 17241, 'adidas': 37529}},
  'time': '23:59:59'},
 {'_id': ObjectId('59e93c81a185722277dd4797'),
  'date': '20/10/2017',
  'inserted_tweets': {'en': {'Commerzbank': 250,
                             'Deutsche Bank': 1166,
                             'EON': 865,
                             'adidas': 19471}},
  'time': '01:02:29'},
 {'_id': ObjectId('59ea0a097d61400e40a29263'),
  'constituent_id': 'BMW',
  'constituent_name': 'BMW',
  'date': datetime.datetime(2017, 8, 21, 0, 0),
  'downloaded_tweets': 54305,
  'language': 'en'},
 {'_id': ObjectId('59ea0a217d61400e40a29264'),
  'constituent_id': 'Commerzbank',
  'constituent_name': 'Commerzbank',
  'date': datetime.datetime(2017, 8, 21, 0, 0),
  'downloaded_tweets': 693,
  'language': 'en'},
 {'_id': ObjectId('59ea0a327d61400e40a29265'),
  'constituent_id': 'Commerzbank',
  'constituent_name': 'Commerzbank',
  'date': datetime.datetime(2017, 8, 30, 0, 0),
  'downloaded_tweets': 477,
  'language': 'en'},
 {'_id': ObjectId('59ea0a4c7d61400e40a29266'),
  'constituent_id': 'BMW',
  'constituent_name': 'BMW',
  'date': datetime.datetime(2017, 8, 30, 0, 0),
  'downloaded_tweets': 58425,
  'language': 'en'}]

In [11]:
doc = {"date":datetime(2017, 8, 30, 0, 0),
       "constituent_name":'BMW',
       "constituent_id":'BMW',
       "downloaded_tweets":58425,
       "language":'en'}

collection.insert_one(doc)

In [29]:
daily = list(collection.aggregate([
        {
              "$match":{
                    "constituent_name":{"$exists":True}
                }  
        },
        {
            "$project": {
                "constituent_name":1,
                "day":{"$dayOfYear":"$date"},
                "downloaded_tweets":1
            }
        },
        {
            "$group": {
                "_id": {"constituent_name":"$constituent_name","day":"$day"},
                "tweets": {"$sum": "$downloaded_tweets"}
            }
        },
        {
             "$project":{
                    "constituent":"$_id.constituent_name",
                    "day":"$_id.day",
                    "tweets":1,
                    "_id":0
                }   
        },
        {"$sort":SON([("day",-1)])}
    ]))

In [30]:
pprint(daily)

[{'constituent': 'BMW', 'day': 242, 'tweets': 58425},
 {'constituent': 'Commerzbank', 'day': 242, 'tweets': 477},
 {'constituent': 'Commerzbank', 'day': 233, 'tweets': 693},
 {'constituent': 'BMW', 'day': 233, 'tweets': 54305}]