# Aggregated Twitter Analysis

### This code performs aggregates on the 'tweets' collection to obtain data for the Dashboard.

#### -Twitter count and sentiment by geography (Twitter Page)
#### -Top Organizations/words mentioned in Twitter(Twitter Page)
#### -Top positive words (not shown on dashboard)

In [103]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import datetime
from datetime import datetime, timedelta
import time
import matplotlib.pyplot as plt
import numpy as np
from decimal import Decimal
import re
from re import sub
import json
import bson
from bson.son import SON

In [151]:
client_new = MongoClient('mongodb://igenie_readwrite:igenie@35.189.89.82:27017/dax_gcp')
db = client_new.dax_gcp
twitter_analysis = list(db['twitter_analytics'].find())
twitter_analysis=  pd.DataFrame(twitter_analysis)
tweets = db['tweets']

## Number and Sentiment of countries tweeting about a constituent

In [158]:
start_date = datetime(2017,7,21)
finish_date = datetime(2017,10,6)
pipeline = [{"$match":{"constituent":"adidas"
                 ,"date":{"$gte":start_date, "$lte":finish_date}}},
             {"$group":{"_id":"$place.country_code", "count":{"$sum":1}}},{"$sort":SON([("count",-1),("_id",-1)])}
    ]
topcountry = tweets.aggregate(pipeline)

In [157]:
start_date = datetime(2017,7,21)
finish_date = datetime(2017,10,6)
pipeline = [{"$match":{"constituent":"adidas","date":{"$gte":start_date, "$lte":finish_date}}},
            {"$group":{"_id":"$place.country_code", "count":{"$sum":1}}}
            ,{"$sort":SON([("count",-1),("_id",-1)])}]
topcountry = list(tweets.aggregate(pipeline))

In [164]:
def country_count(tweets,constituent):
    #Count by geography
    start_date = datetime(2017,7,21)
    finish_date = datetime(2017,10,6)
    if constituent =='BMW':
        pipeline = [
            {"$match":{"constituent":constituent, 'relevance':1,
               "date":{"$gte":start_date, "$lte":finish_date}}},
            {"$group":{"_id":"$place.country_code", "count":{"$sum":1}}}
            ,{"$sort":SON([("count",-1),("_id",-1)])}
            ]
    else:
        pipeline = [
            {"$match":{"constituent":constituent
                 ,"date":{"$gte":start_date, "$lte":finish_date}}},
             {"$group":{"_id":"$place.country_code", "count":{"$sum":1}}},
            {"$sort":SON([("count",-1),("_id",-1)])}]
        
    topcountry = list(tweets.aggregate(pipeline))
    df_count= pd.DataFrame(topcountry)
    df_count['constituent']=constituent
    print df_count
    
    
    #Sentiment by geography
    if constituent == 'BMW':
        pipeline = [
        {"$match":{"constituent":constituent,"relevance":1,
               "date":{"$gte":start_date, "$lte":finish_date}}},
        {"$group":{"_id":"$place.country_code", "avg_sentiment":{"$avg":"$nltk_sentiment_numeric"}}}
        ,{"$sort":SON([("avg_sentiment",-1),("_id",-1)])}]
    else:
        pipeline = [
        {"$match":{"constituent":constituent,
               "date":{"$gte":start_date, "$lte":finish_date}}},
        {"$group":{"_id":"$place.country_code", "avg_sentiment":{"$avg":"$nltk_sentiment_numeric"}}}
        ,{"$sort":SON([("avg_sentiment",-1),("_id",-1)])}]
        
    df_sentiment = pd.DataFrame(list(tweets.aggregate(pipeline)))
    print df_sentiment
    df_sentiment['country']=df_sentiment['_id']
    
    ##Merge data on sentiment and count together, removing the id column
    count_sentiment = df_count.merge(df_sentiment,on='_id',how='inner')
    count_sentiment = count_sentiment.drop('_id',axis=1)
    count_sentiment['date of analysis']=str(datetime.today().date())
    count_sentiment['status']='active'
    return count_sentiment

In [ ]:
count_sentiment=country_count(tweets,constituent)

In [96]:
count_sentiment.head()

   count constituent  avg_sentiment country date of analysis  status
0  11599         BMW      -0.000193    None       2017-11-17  active
1     51         BMW      -0.005096      GB       2017-11-17  active
2     22         BMW       0.053186      US       2017-11-17  active
3      6         BMW      -0.140850      DE       2017-11-17  active
4      5         BMW       0.131940      MX       2017-11-17  active

In [20]:
### Update the status of previous collection and upload results to collection, country_data
##db['country_data'].update_many({'constituent':constituent,'status':'active'}, {'$set': {'status': 'inactive'}},True,True)
##count_sentiment_json = json.loads(count_sentiment.to_json(orient='records'))
#db['country_data'].insert_many(count_sentiment_json)

### Loop through a given list of constituent

In [105]:
##Or collect geographical analylysis, iterating through a list of constituents
def country_count_collection(tweets_collection,constituent_list,country_data_collection):
    for constituent in constituent_list:
        print constituent, " start"
        #Update the status of the previous data
        country_data_collection.update_many({'constituent':constituent,'status':'active'}, {'$set': {'status': 'inactive'}},True,True)
        count_sentiment=country_count(tweets,constituent)
        print constituent," done"
        count_sentiment_json = json.loads(count_sentiment.to_json(orient='records'))
        country_data_collection.insert_many(count_sentiment_json)

In [ ]:
##Excute the loop.
constituent_list = ['adidas','BMW','Commerzbank','Deutsche Bank','EON']
tweets_collection = tweets
country_data_collection=db['country_data']
country_count_collection(tweets_collection,constituent_list,country_data_collection)

## Top positive words

In [37]:
#This function gives the counts of top positive words for one constituent
def top_positive_words(tweets,constituent):
    from_date = datetime(2017,7,21)
    to_date = datetime(2017,10,6)
    pipeline = [
        {"$match":{"constituent":constituent, 
               "date":{"$gte":from_date, "$lte":to_date},
               "nltk_sentiment_numeric":{"$gte":0.25}}},
        {"$unwind":"$processed_text"},
        {"$group":{"_id":"$processed_text", "count":{"$sum":1}}},
        {"$sort":SON([("count",-1),("_id",-1)])}]
    top_positive_words = list(tweets.aggregate(pipeline))
    top_positive_words = pd.DataFrame(top_positive_words)
    top_positive_words['positive_words']=top_positive_words['_id']
    top_positive_words['constituent']=constituent
    top_positive_words['status']='active'
    top_positive_words['date of analysis']=str(datetime.today().date())
    top_ten_positive_words=top_positive_words.iloc[:10]
    return top_ten_positive_words

In [40]:
top_ten_positive_words=top_positive_words(tweets,'BMW')

In [41]:
top_ten_positive_words

#Update the status of previous collection and add results into collection, top_ten_postiive_words
#db['top_positive_words'].update_many({'constituent':constituent,'status':'active'}, {'$set': {'status': 'inactive'}},True,True)
#top_words_json = json.loads(top_words.to_json(orient='records'))
#db['top_positive_words'].insert_many(top_words_json)

     _id   count positive_words constituent
0    bmw  123177            bmw         BMW
1     rt   63313             rt         BMW
2      …   28706              …         BMW
3   like   24705           like         BMW
4  pleas   15065          pleas         BMW
5    new   12633            new         BMW
6    car   12210            car         BMW
7  #cars   10254          #cars         BMW
8     i8   10168             i8         BMW
9  video    9686          video         BMW

## Top organisations/mentioned in tweets

In [102]:
##This function collects the count of tweets of top organizations for one constituent
def top_organizations(tweets,constituent):
    from_date = datetime(2017,7,21)
    to_date = datetime(2017,10,6)
    pipeline = [
    {"$match":{"constituent":constituent,"relevance":1, 
               "date":{"$gte":from_date, "$lte":to_date}
              }
    },
    {"$unwind":"$tag_ORGANIZATION"},
    {"$group":{"_id":"$tag_ORGANIZATION", "count":{"$sum":1}}}
    ,{"$sort":SON([("count",-1),("_id",-1)])}
    ]
    organization_list = list(tweets.aggregate(pipeline))
    organization_df = pd.DataFrame(organization_list)
    organization_df['organisation']=organization_df['_id']
    organization_df['constituent']=constituent
    organization_df['date of analysis']=str(datetime.today().date())
    organization_df['status']='active'
    #Extract the top 10 organizations mentioned
    organization_df=organization_df.iloc[:10]
    return organization_df

In [100]:
organization_df.head()

       _id  count organisation constituent
0      bmw   4934          bmw         BMW
1  daimler    888      daimler         BMW
2   brexit    584       brexit         BMW
3       vw    308           vw         BMW
4  porsche    251      porsche         BMW

In [99]:
organization_df=top_organizations(tweets,'BMW')
organization_df.head()

       _id  count organisation constituent
0      bmw   4934          bmw         BMW
1  daimler    888      daimler         BMW
2   brexit    584       brexit         BMW
3       vw    308           vw         BMW
4  porsche    251      porsche         BMW

In [ ]:
#Update the status of previous collection and add results into collection, twitter_top_organizations
#db['twitter_top_organizations'].update_many({'constituent':constituent,'status':'active'}, {'$set': {'status': 'inactive'}},True,True)
#organization_json = json.loads(organization_df.to_json(orient='records'))
#db['twitter_top_organizations'].insert_many(organizations_json)

### Loop through a given list of constituents

In [ ]:
##This function collects the top organization data for a given list of constituents
def top_organizations_collection(tweets_collection,constituent_list,top_organization_collection):
    for constituent in constituent_list:
        #Update the status of the previous data
        top_organization_collection.update_many({'constituent':constituent,'status':'active'}, {'$set': {'status': 'inactive'}},True,True)
        organization_df=top_organizations(tweets,constituent)
        organization_json = json.loads(organization_df.to_json(orient='records'))
        top_organization_collection.insert_many(organizations_json)

## Update the aggregate result collections with date and status

In [91]:
#db.country_data.update_many({}, {'$set': {'date of analysis': str(datetime(2017,10,6).date())}})
#db.country_data.update_many({}, {'$set': {'status': 'active'}})
#db.twitter_top_organizations.update_many({}, {'$set': {'date of analysis': str(datetime(2017,10,6).date())}})
#db.twitter_top_organizations.update_many({}, {'$set': {'status': 'active'}})

In [119]:
country_data = pd.DataFrame(list(db['country_data'].find()))
country_data.head()

,_id,avg_sentiment,constituent,count,country,date of analysis,status
0,59dd4f526e74a1325d36d55a,0.757900,adidas,1.0,LK,2017-10-06,inactive
1,59dd4f526e74a1325d36d55b,0.675091,adidas,55.0,SA,2017-10-06,inactive
2,59dd4f526e74a1325d36d55c,0.585900,adidas,7.0,HU,2017-10-06,inactive
3,59dd4f526e74a1325d36d55d,0.571900,adidas,6.0,KW,2017-10-06,inactive
4,59dd4f526e74a1325d36d55e,0.552800,adidas,10.0,AE,2017-10-06,inactive

In [120]:
country_data

,_id,avg_sentiment,constituent,count,country,date of analysis,status
0,59dd4f526e74a1325d36d55a,0.757900,adidas,1.0,LK,2017-10-06,inactive
1,59dd4f526e74a1325d36d55b,0.675091,adidas,55.0,SA,2017-10-06,inactive
2,59dd4f526e74a1325d36d55c,0.585900,adidas,7.0,HU,2017-10-06,inactive
3,59dd4f526e74a1325d36d55d,0.571900,adidas,6.0,KW,2017-10-06,inactive
4,59dd4f526e74a1325d36d55e,0.552800,adidas,10.0,AE,2017-10-06,inactive
5,59dd4f526e74a1325d36d55f,0.510600,adidas,5.0,EG,2017-10-06,inactive
6,59dd4f526e74a1325d36d560,0.458800,adidas,1.0,BN,2017-10-06,inactive
7,59dd4f526e74a1325d36d561,0.440400,adidas,5.0,RO,2017-10-06,inactive
8,59dd4f526e74a1325d36d562,0.421700,adidas,4.0,RU,2017-10-06,inactive
9,59dd4f526e74a1325d36d563,0.336600,adidas,18.0,GH,2017-10-06,inactive
10,59dd4f526e74a1325d36d564,0.305850,adidas,5.0,PL,2017-10-06,inactive
11,59dd4f526e74a1325d36d565,0.218625,adidas,81.0,DE,2017-10-06,inactive
12,59dd4f526e74a1325d36d566,0.187682,adidas,58.0,AU,2017-10-06,inactive
13,59dd4f526e74a1325d36d567,0.153100,adidas,9.0,KE,2017-10-06,inactive
14,59dd4f526e74a1325d36d568,0.152833,adidas,39.0,BR,2017-10-06,inactive
15,59dd4f526e74a1325d36d569,0.151480,adidas,40.0,FR,2017-10-06,inactive
16,59dd4f526e74a1325d36d56a,0.145459,adidas,163.0,CA,2017-10-06,inactive
17,59dd4f526e74a1325d36d56b,0.139985,adidas,41.0,TH,2017-10-06,inactive
18,59dd4f526e74a1325d36d56c,0.139861,adidas,258.0,PH,2017-10-06,inactive
19,59dd4f526e74a1325d36d56d,0.138701,adidas,559339.0,None,2017-10-06,inactive
20,59dd4f526e74a1325d36d56e,0.135900,adidas,154.0,MY,2017-10-06,inactive
21,59dd4f526e74a1325d36d56f,0.133967,adidas,25.0,CN,2017-10-06,inactive
22,59dd4f526e74a1325d36d570,0.127650,adidas,39.0,IN,2017-10-06,inactive
23,59dd4f526e74a1325d36d571,0.126087,adidas,607.0,GB,2017-10-06,inactive
24,59dd4f526e74a1325d36d572,0.093833,adidas,3.0,AT,2017-10-06,inactive
25,59dd4f526e74a1325d36d573,0.091760,adidas,22.0,NL,2017-10-06,inactive
26,59dd4f526e74a1325d36d574,0.091760,adidas,56.0,NG,2017-10-06,inactive
27,59dd4f526e74a1325d36d575,0.077200,adidas,8.0,KR,2017-10-06,inactive
28,59dd4f526e74a1325d36d576,0.072326,adidas,4787.0,US,2017-10-06,inactive
29,59dd4f526e74a1325d36d577,0.069622,adidas,120.0,ZA,2017-10-06,inactive
...,...,...,...,...,...,...,...
63,59dd513a6e74a1325d36d599,0.000000,Deutsche Bank,37.0,IN,2017-10-06,active
64,59dd513a6e74a1325d36d59a,0.000000,Deutsche Bank,58.0,ES,2017-10-06,active
65,59dd513a6e74a1325d36d59b,-0.035580,Deutsche Bank,52.0,US,2017-10-06,active
66,59dd513a6e74a1325d36d59c,-0.132967,Deutsche Bank,18.0,GB,2017-10-06,active
67,59dd513a6e74a1325d36d59d,-0.134314,Deutsche Bank,32951.0,None,2017-10-06,active
68,59dd513a6e74a1325d36d59e,-0.224400,Deutsche Bank,2.0,NL,2017-10-06,active
69,59dd513a6e74a1325d36d59f,-0.437167,Deutsche Bank,35.0,DE,2017-10-06,active
70,59dd513a6e74a1325d36d5a0,-0.690800,Deutsche Bank,1.0,IL,2017-10-06,active
71,59dd52576e74a1325d36d5a1,0.709600,EON,3.0,TR,2017-10-06,active
72,59dd52576e74a1325d36d5a2,0.440400,EON,2.0,IT,2017-10-06,active
73,59dd52576e74a1325d36d5a3,0.400280,EON,49.0,GB,2017-10-06,active
74,59dd52576e74a1325d36d5a4,0.384950,EON,17.0,IN,2017-10-06,active
75,59dd52576e74a1325d36d5a5,0.361200,EON,1.0,AE,2017-10-06,active
76,59dd52576e74a1325d36d5a6,0.269000,EON,6.0,ZA,2017-10-06,active
77,59dd52576e74a1325d36d5a7,0.227837,EON,37.0,PH,2017-10-06,active
78,59dd52576e74a1325d36d5a8,0.106321,EON,17134.0,None,2017-10-06,active
79,59dd52576e74a1325d36d5a9,0.000000,EON,1.0,TT,2017-10-06,active
80,59dd52576e74a1325d36d5aa,0.000000,EON,1.0,RU,2017-10-06,active
81,59dd52576e74a1325d36d5ab,0.000000,EON,66.0,MY,2017-10-06,active
82,59dd52576e74a1325d36d5ac,0.000000,EON,7.0,AU,2017-10-06,active
83,59dd52576e74a1325d36d5ad,-0.004469,EON,53.0,US,2017-10-06,active
84,59dd52576e74a1325d36d5ae,-0.312900,EON,1.0,KE,2017-10-06,active
85,59dd53226e74a1325d36d5af,0.318200,BMW,5.0,AU,2017-10-06,active
86,59dd53226e74a1325d36d5b0,0.199467,BMW,22.0,US,2017-10-06,active
87,59dd53226e74a1325d36d5b1,0.095603,BMW,11599.0,None,2017-10-06,active
88,59dd53226e74a1325d36d5b2,0.000000,BMW,51.0,GB,2017-10-06,active
89,59dd53226e74a1325d36d5b3,0.000000,BMW,1.0,FR,2017-10-06,active
90,5a0edc338a9d6b58eb301a88,NaN,adidas,NaN,NaN,NaN,inactive
91,5a0ede658a9d6b58eb301bb8,NaN,adidas,NaN,NaN,NaN,inactive
92,5a0eecbc8a9d6b58eb302690,NaN,adidas,NaN,NaN,NaN,inactive

In [92]:
top_organizations_data = pd.DataFrame(list(db['twitter_top_organizations'].find()))
top_organizations_data.head()

,_id,constituent,count,date of analysis,status,trend
0,59dddc4f7d6140161cd001b8,BMW,4934,2017-10-06,active,BMW
1,59dddc4f7d6140161cd001b9,BMW,888,2017-10-06,active,Daimler
2,59dddc4f7d6140161cd001ba,BMW,584,2017-10-06,active,Brexit
3,59dddc4f7d6140161cd001bb,BMW,308,2017-10-06,active,VW
4,59dddc4f7d6140161cd001bc,BMW,251,2017-10-06,active,Porsche